::-webkit-scrollbar {
    display: none;
}

.todo-form{
    background-color: wheat;
    width: 400px;
    height: 300px;
    top: 20px;
    border: 1px  blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border-radius: 30px;
    padding: relative;
}
textarea{
    background-color: thistle;
    border-radius: 12px;
    height: 50px;
    font-size: 17px;
    font-weight: 200;
    border: none;
}
input{
    margin: 10px;
    background-color: thistle;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 30px;
    outline: 0;
    padding: 4px 20px 0;
    width: 370px;
}
.todo-button{
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    outline: 0;
    text-align: center;
    width: 60%;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;       /* Remove default arrow */
    background-color: rgb(217, 153, 223);
    width: 60px;
    border: none;
 }