.whatsup{
    font-size: 4rem;
    font-weight: 700;
}
.ndpagecont{
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.todoscont{
    display: flex;
    flex-direction: column;
}